body {
  margin: 0;
  padding: 0;
  // 环境处理不了图片,如果需要处理图片,那么就配置
  background: url(../img/10.jpg) no-repeat center;
  background-size: cover;
  color: red;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?dprft4');
  src: url('../fonts/icomoon.eot?dprft4#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?dprft4') format('truetype'),
    url('../fonts/icomoon.woff?dprft4') format('woff'),
    url('../fonts/icomoon.svg?dprft4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

span {
  font-family: 'icomoon';
  font-size: 30px;
}

span:before {
  content: "\e900";
}